.player_games {
  &__current {
    color: var(--contrast1);
  }
  &__items {
    text-align: justify;
    span {
      cursor: pointer;
      &:hover {
        color: var(--contrast1);
      }
    }
  }
}