.about {
  padding: 8rem 0;

  section {
    h3 {
      color: var(--contrast1);
      font-size: 31px;
    }
    h1 {
      font-weight: 600;
      font-size: 48px;
      line-height: 65px;
    }
    h6 {
      font-weight: 400;
      font-size: 20px;
    }
    article {
      display: flex;
      justify-content: space-between;
      gap: 22px;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 24px;
        width: 60px;
        height: 47px;
        border-radius: 100%;
        background: var(--white);
        color: var(--contrast2);
      }
      div {
        width: 100%;
        h2 {
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
        }
        p {
          margin-top: 16px;
          margin-bottom: 30px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: var(--contrast3);
        }
      }
    }
  }
}