.card {
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 0.75rem;
  min-width: 300px;

  header, main, footer {
    margin: 0;
    text-align: center;
  }
  header {
    padding-top: 11px;
    padding-bottom: 4px;
  }
  main {
    padding-top: 25px;
    padding-bottom: 17px;
  }
  footer {
    padding-top: 17px;
    padding-bottom: 25px;
  }

}

hr.contrast {
  border: 0;
  padding: 0.25px;
  color: var(--contrast1);
  background-color: var(--contrast1);
}

.contrast {
  color: var(--contrast1);
}
