@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors
:root {
  --primary: #120f54;
  --secondary: #370397;
  --contrast1: #00ff66;
  --contrast2: #2851e3;
  --contrast3: #616161;
  --white: #ffffff;
}

// Fonts
:root {
  --h1: 3.5rem;
  --h3: 2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--primary);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--h1);
}

h3 {
  font-size: var(--h3);
}

.active {
  color: var(--contrast1)
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
